.display-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.self-center {
  align-self: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.display-block {
  display: block;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}
