/*Navbar*/

.nav-container {
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav-wrapper {
  border-radius: 10px;
}

.nav-menu {
  display: flex;
  gap: 10px;
}

.menu-items {
  padding: 4px 8px;
}

.menu-items:hover {
  cursor: pointer;
}
